## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [ ]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [1]:
import random

# Generate a list of 80 unique random integers between 0 and 100
sample_list_1 = random.sample(range(101), 80)

# Print sample_list_1
print(sample_list_1)

[72, 43, 47, 30, 32, 27, 53, 19, 63, 95, 20, 88, 46, 38, 5, 10, 15, 34, 84, 85, 64, 91, 61, 40, 57, 55, 23, 25, 7, 21, 94, 82, 67, 51, 92, 76, 24, 3, 56, 17, 52, 65, 13, 68, 35, 59, 90, 71, 1, 98, 80, 100, 33, 74, 0, 48, 49, 99, 12, 36, 69, 83, 8, 54, 50, 77, 75, 42, 11, 70, 86, 26, 18, 66, 81, 60, 44, 29, 4, 37]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [2]:
# Convert sample_list_1 to a set
set1 = set(sample_list_1)

# Print the length of set1
print("Length of set1:", len(set1))

Length of set1: 80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [3]:
import random

# Generate a list of 80 random integers between 0 and 100 (with duplicates)
sample_list_2 = [random.randint(0, 100) for _ in range(80)]

# Print sample_list_2
print(sample_list_2)

[43, 15, 1, 60, 72, 73, 5, 95, 79, 37, 50, 54, 22, 92, 21, 18, 61, 32, 9, 93, 26, 78, 62, 90, 77, 54, 58, 53, 15, 63, 25, 24, 46, 64, 5, 64, 96, 84, 99, 0, 94, 70, 38, 43, 67, 32, 68, 93, 8, 100, 35, 61, 49, 59, 83, 20, 22, 11, 52, 60, 38, 43, 57, 36, 62, 84, 31, 100, 57, 51, 91, 91, 28, 34, 25, 25, 25, 18, 32, 6]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [4]:
# Convert sample_list_2 to a set
set2 = set(sample_list_2)

# Print the length of set2
print("Length of set2:", len(set2))

Length of set2: 58

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [5]:
# Find elements in set1 that are not in set2
set3 = set1 - set2

# Print set3
print("Elements in set1 but not in set2 (set3):", set3)

Elements in set1 but not in set2 (set3): {3, 4, 7, 10, 12, 13, 17, 19, 23, 27, 29, 30, 33, 40, 42, 44, 47, 48, 55, 56, 65, 66, 69, 71, 74, 75, 76, 80, 81, 82, 85, 86, 88, 98}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [6]:
# Find elements in set2 that are not in set1
set4 = set2 - set1

# Print set4
print("Elements in set2 but not in set1 (set4):", set4)

Elements in set2 but not in set1 (set4): {96, 6, 9, 73, 78, 79, 22, 58, 28, 93, 62, 31}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [7]:
# Find elements shared between set1 and set2
set5 = set1 & set2

# Print set5
print("Elements shared between set1 and set2 (set5):", set5)

Elements shared between set1 and set2 (set5): {0, 1, 5, 8, 11, 15, 18, 20, 21, 24, 25, 26, 32, 34, 35, 36, 37, 38, 43, 46, 49, 50, 51, 52, 53, 54, 57, 59, 60, 61, 63, 64, 67, 68, 70, 72, 77, 83, 84, 90, 91, 92, 94, 95, 99, 100}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [8]:
# Calculate the lengths of the sets
length_set1 = len(set1)
length_set2 = len(set2)
length_set3 = len(set3)
length_set4 = len(set4)
length_set5 = len(set5)

# Test the relationship
is_relationship_true = (length_set1 + length_set2 == length_set5 + length_set3 + length_set4)

# Print the result
print("Is the relationship true?", is_relationship_true)

Is the relationship true? False

#### Create an empty set called `set6`.

In [10]:
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Add elements from set3 and set5 to set6
set6.update(set3)
set6.update(set5)

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
# Check if set1 and set6 are equal
are_equal = set1 == set6

# Print the result
print("Are set1 and set6 equal?", are_equal)

Are set1 and set6 equal? True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
# Your code here
# Check if set2 is a subset of set1
is_set2_subset = set2.issubset(set1)

# Check if set3 is a subset of set1
is_set3_subset = set3.issubset(set1)

# Print the results
print("Is set2 a subset of set1?", is_set2_subset)
print("Is set3 a subset of set1?", is_set3_subset)

Is set2 a subset of set1? False
Is set3 a subset of set1? True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
# Aggregate set3, set4, and set5 using the union method
aggregated_set_a = set3.union(set4, set5)

# Aggregate set1 and set2 using the union method
aggregated_set_b = set1.union(set2)

# Check if the aggregated values are equal
are_aggregated_sets_equal = aggregated_set_a == aggregated_set_b

# Print the result
print("Are the aggregated values equal?", are_aggregated_sets_equal)

Are the aggregated values equal? True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Remove an arbitrary element from set1 using pop()
if len(set1) > 0:
    removed_element = set1.pop()
    print("Removed element:", removed_element)
else:
    print("Set1 is empty, cannot remove an element.")

Removed element: 0

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [16]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

# Remove elements from set1 that are in list_to_remove
set1 = {x for x in set1 if x not in list_to_remove}

# Print the remaining elements in set1
print("Remaining elements in set1:", set1)

Remaining elements in set1: {3, 4, 5, 7, 8, 10, 12, 13, 15, 17, 18, 20, 23, 24, 25, 26, 27, 30, 32, 33, 34, 35, 36, 37, 38, 40, 42, 43, 44, 46, 47, 48, 50, 52, 53, 54, 55, 56, 57, 60, 63, 64, 65, 66, 67, 68, 70, 72, 74, 75, 76, 77, 80, 82, 83, 84, 85, 86, 88, 90, 92, 94, 95, 98, 100}